/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 100px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Design system */
:root {
  /* Colour */
  --clr-slate-900: hsl(218, 44%, 22%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-300: hsl(212, 45%, 89%);

  --clr-white: hsl(0, 0%, 100%);

  /* Spacing */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;

  /* Fonts */
  --font-main: "Outfit", sans-serif;
}

/* Utility classes */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-slate-300);
  font-family: var(--font-main);
}

.card {
  width: 320px;
  height: auto;
  background-color: var(--clr-white);
  padding: var(--space-200);
  padding-block-end: var(--space-500);
  border-radius: 20px;
}

.qr-code {
  border-radius: 10px;
  margin-bottom: var(--space-300);
}

.text {
  padding-inline: var(--space-200);
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.outfit-bold {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  color: var(--clr-slate-900);
}

.outfit-regular {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--clr-slate-500);
}
